@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Minerva Modern';
  font-weight: 400;
  font-style: normal;
  src: local(''), url('/fonts/minerva-modern/Minerva_Modern_Regular.otf');
}

@font-face {
  font-family: 'Minerva Modern';
  font-weight: 700;
  font-style: normal;
  src: local(''),
    url('/fonts/minerva-modern/Minerva_Modern_Bold.otf') format('otf');
}

@font-face {
  font-family: 'Minerva Modern';
  font-weight: 900;
  font-style: normal;
  src: local(''),
    url('/fonts/minerva-modern/MinervaModern_Black.ttf') format('ttf');
}

@font-face {
  font-family: 'Minerva Modern';
  font-weight: 400;
  font-style: italic;
  src: local(''),
    url('/fonts/minerva-modern/Minerva_Modern_Italic.otf') format('otf');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
